<template name="gps_lb">

  <div class="bar bar-header bar-stable">
     <button type="button" class="button button-clear" data-action="save">关闭</button>
        <h2 class="title">区域采集</h2>
        <button type="submit" class="button button-positive button-clear" data-action="bj">标记</button>
  </div>

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
      {{#each gpslb}}
        <div class="product-detail" > 
			<div class="item item-icon-left" style="padding-left: 5px;">
				<p>经纬度：lat（{{marker.lat}}）,
					lng（{{marker.lng}}）</p>
				<p>采集时间：{{rksj}}</p>
			</div>
        </div>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
